{% extends "layout.html" %}
{% block content %}
     <h1>About This Platform</h1>
<p>This is a community-driven notes sharing platform designed to give everyone a space to express their thoughts, ideas,
     and experiences freely. Whether it’s a quick reflection, a story, a lesson learned, or something creative, users
     can write and publish their notes while also exploring posts shared by others. The platform focuses on simplicity,
     meaningful interaction, and a clean reading experience, making it easy to both write and discover content.</p>
     <p>Built with a secure multi-user system, each user has a personal profile to manage their posts and be part of a
     growing network of shared perspectives.</p>
{% endblock content %}
